.shop-list-item{
    padding-top: 20px;
  }
  
#shop-list ul{
    margin: 0px;
    padding: 10px;
    font-size: 3vw;
  }

@media screen and (min-width: 700px) {
  #shop-list ul {
      font-size: 20px;
  }
}

#shop-list button{
    float: right;
    margin-right: 5%;
    background-color: #89bdd3;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 20px;
  }