#status-list li{
    display: inline-block;
    padding-right: 10px;
  }

  .coin{
    position: relative;
    -webkit-animation-name: enlarge; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: enlarge;
    animation-duration: 4s; 
  }
  
  @keyframes enlarge{
    25%{
      font-size:20px;
    }
    50%{
      font-size: initial;
    }
    75%{
      font-size: 20px;
    }
    100%{
      font-size: initial;
    }
  }
  