body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

article{
  border: 2px solid;
}

#block-view{
  width: 90%;
  margin: 10px;
  min-height: 50vw;
}

#blockchain-info{
  position: fixed;
  min-height: 50vw;
  bottom: 0;
  width: 100%;
}
